body {
  background-color: black;
}

.TextMain {
  color: white;
  text-align: center; 
  position: absolute; 
  top: 10%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-family: cursive;
}

.Credits {
  color: white;
  text-align: center;
  position: absolute;
  top: 95%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-family: cursive;
}

.ImageChan {
  width: 18%; 
  position: absolute; 
  top: 25%; 
  left: 41%; 
  transform: translate(-50%, -50%); 
  border-radius: 50px;
}

.click-me {
  color: lightblue;
}
